@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arvo:ital@1&family=Courier+Prime:wght@700&family=Cousine:ital,wght@1,700&family=Grenze+Gotisch:wght@700&family=Merriweather&family=Nanum+Myeongjo:wght@800&family=Source+Code+Pro:ital@1&display=swap');

.weltanschauung {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

a{
  color: rgba(255, 0, 0, 0.5);
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  text-decoration: none;
}

a:hover{
  color: rgba(255, 0, 0, 0.85);
}

button{
  color: rgba(255, 0, 0, 0.5);
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  background: none;
  border: none;
  width: 60px;
  outline: none;
}

button:hover{
  color: rgba(255, 0, 0, 0.85);
}

p {
  text-align: left;
  z-index: 100;
}

.p5canvas {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
}



.player {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 0;
  background-color: rgba(0, 0, 255, 0.1);
}


/* oblongs */

.oblong-yellow{
  position: absolute;
  width: 500px;
  height: 800px;
  top: 400px;
  left: 60%;
  background-color: #fffa6e;
  border-radius: 20% 90% 40% 40% / 40% 40% 40% 40%;
  transform: rotate(-10deg);
  background-image: url('assets/yellowpatch.jpg');
  background-repeat: no-repeat;
  background-position: -200px, -100px;
}

.oblong-yellow:active{
  animation-name: swell-yellow;
  animation-duration: 0.25s;
}

@keyframes swell-yellow {
  0% {transform: scale(1.0) rotate(-10deg)}
  50% {transform: scale(1.02) rotate(-10deg)}
  100% {transform: scale(1.0) rotate(-10deg)}
}


.oval {
  position: absolute;
  width: 1000px;
  height: 1200px;
  top: 220px;
  left: 28%;
  clip-path: ellipse(35% 50% at 50% 50%);
  transform: rotate3d(1, 0, 1, 27deg);
}

.oblong-black{
  position: absolute;
  width: 1000px;
  height: 1200px;
  top: 220px;
  left: 28%;
  background-color: #303030;
  clip-path: ellipse(35% 50% at 50% 50%);
  transform: rotate3d(1, 0, 1, 27deg);
  background-image: url('assets/cull1.png');
  background-repeat: no-repeat;
  background-size: 1000px, 1200px;
  background-position: 100px, 0px;
}

.oblong-black:active{
  animation-name: swell-black;
  animation-duration: 0.25s;
}

@keyframes swell-black {
  0% {transform: scale(1.0) rotate3d(1, 0, 1, 27deg)}
  50% {transform: scale(1.02) rotate3d(1, 0, 1, 27deg)}
  100% {transform: scale(1.0) rotate3d(1, 0, 1, 27deg)}
}


/* oblongs^^^^^^^ */

/* islands styling vvvvv */

.island{
  position: absolute;
  background-image: url('assets/yell.png');
  background-repeat: no-repeat;
  background-size: 1165px, 1403px;
}

.appear{
  animation-name: popin;
  animation-duration: 0.4s;
}

@keyframes popin {
  0% {transform: scale(0.0)}
  66% {transform: scale(1.1)}
  100% {transform: scale(1.0)}
}

.disappear{
  animation-name: popout;
  animation-duration: 0.4s;
}

@keyframes popout {
  0% {transform: scale(1.0)}
  33% {transform: scale(1.1)}
  100% {transform: scale(0.0)}
}

/* islands styling ^^^^^ */

.culling-bottom{
  position: absolute;
  left: 100px;
  top: 140px;
}

.culling-zoom{
  position: absolute;
  left: 40px;
  top: 500px;
}

/* gloopy culls^^^^ */

.testarch{
  position: absolute;
  left: 400px;
  top: 500px;
  transform: rotate3d(0, 1, 0, 45deg);
}

.testcnv{
  position: absolute;
  display: inline-block;
}

.anton{
  font-family: 'Anton', sans-serif;
}

.arvo{
  font-family: 'Arvo', serif;
}

.courier{
  font-family: 'Courier Prime', monospace;
}

.cousine{
  font-family: 'Cousine', monospace;
}

.grenze{
  font-family: 'Grenze Gotisch', cursive;
}

.merriweather{
  font-family: 'Merriweather', serif;
}

.nanum{
  font-family: 'Nanum Myeongjo', serif;
}

.source-code{
  font-family: 'Source Code Pro', monospace;
}
